quart
django==4.2
psycopg2-binary
pgvector

numpy

# Need to brew install poppler on macOS
# TODO: Add this to install script.
pdf2image

aiofiles

jinja2
pydantic
requests

# Uncomment if using OpenAI or Groq models.
# openai
# groq
ollama
google-generativeai
