hypercorn
quart
django==4.2
psycopg2-binary
pgvector

numpy

# Need to brew install poppler on macOS
# poppler-utils (Debian/Alpine)
pdf2image

aiofiles

jinja2
pydantic
requests

# Uncomment if using OpenAI or Groq models.
# openai
# groq
ollama
google-generativeai

# Need to brew install libmagic on macOS
# or sudo apt-get install libmagic1 on Debian
# libmagic on Alpine
python-magic
