:root {
    --search-box-height: 40px;
    --content-max-width: 600px;
    --header-height: 50px;
    --footer-height: 50px;
    --thumbnail-carousel-height: 100px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    font-family: sans-serif;
}

main {
    /* So the absolute-positioned results box is positioned
  relative to this and not the entire document. */
    position: relative;
    width: 80%;
    max-width: var(--content-max-width);
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
}

header,
footer {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    height: var(--header-height);
}

nav {
    width: 90%;
    max-width: 1800px;
}

nav > ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav > ul > li {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

nav a {
    font-size: 0.9rem;
    color: white;
}

nav a:hover {
    /* text-decoration: underline; */
    font-weight: bold;
}

nav .logo {
    margin-right: auto;
}

nav .logo a {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
}

footer {
    position: fixed;
    bottom: 0;
    background: rgba(240, 240, 240, 0.8);
    font-size: 0.8rem;
}

/* Search Page */

#search {
    width: 100%;
    height: var(--search-box-height);
    padding: 5px;
}

#results-box {
    position: absolute;
    /* Offset by height of search box so it's directly under it. */
    top: var(--search-box-height);
    width: 100%;
    border: 1px solid grey;
    padding: 0;
}

.hidden {
    display: none;
}

#results-box > p {
    padding: 10px 5px;
    margin: 0;
}

#results-box > p:hover,
#results-box > p:focus {
    background-color: #eee;
}

/* Admin Page Styles */

#file-upload-form {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 15px;
    background: #eee;
    padding: 10px 20px 20px 20px;
    border-radius: 15px;
}

#file-upload-form h2,
#files-list-container h2 {
    font-size: 0.9rem;
    text-transform: uppercase;
}

#file-upload-form h2 {
    text-align: left;
}

#file-upload-form button {
    width: 120px;
    height: 27px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}

#files-list-container {
    margin-top: 20px;
}

#files-list-container h2 {
    text-align: center;
    margin-bottom: 0px;
    padding: 10px 0px 0px 0px;
}

#file-list {
    padding: 0;
    list-style: none;
    font-size: 0.85rem;
    border: 0.5px solid #edecec;
}

#file-list li {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    padding: 8px 10px;
}

#file-list li:nth-of-type(even) {
    background: rgba(240, 240, 240, 0.8);
}

#file-list a {
    color: #4d74b8;
}

#file-list .file-status-indicator {
    margin-left: auto;
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 0.65rem;
    font-weight: bold;
    text-transform: uppercase;
}

#file-list [data-status="Processing"] .file-status-indicator {
    background: #eee;
    color: #333;
}

#file-list [data-status="Ready"] .file-status-indicator {
    background: #88c273;
    color: #fff;
}

#file-list [data-status="Error"] .file-status-indicator {
    background: #f95454;
    color: white;
}

/* Document Detail Page Styles */

#page-display {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;

    max-height: calc(
        100vh - var(--footer-height) - var(--header-height) -
            var(--thumbnail-carousel-height) - 50px
    );
    aspect-ratio: 1;
    /* background: #eee; */
    background: #333;
    margin-top: 20px;
    margin-bottom: calc(
        var(--footer-height) + var(--thumbnail-carousel-height) + 10px
    );
}

#page-thumbnail-carousel {
    position: fixed;
    bottom: calc(var(--footer-height) + 2px);
    left: 0;

    display: flex;
    flex-direction: row;
    gap: 15px;
    height: var(--thumbnail-carousel-height);
    width: 100%;
    padding: 10px 30px;
    background-color: #eee;
}

.page-thumbnail {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
}

.page-thumbnail:hover {
}

.page-thumbnail > img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.page-thumbnail > small {
    text-align: center;
}

.page-thumbnail .page-number {
    display: none;
    font-size: 0.85rem;
    font-weight: bold;
}

.page-thumbnail:hover .page-number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.page-thumbnail .page-status-indicator {
    display: none;
}
