:root {
    --search-box-height: 40px;
    --content-max-width: 600px;
    --header-height: 50px;
    --footer-height: 50px;
    --thumbnail-carousel-height: 100px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    font-family: sans-serif;
    margin: 0;
}

main {
    /* So the absolute-positioned results box is positioned
  relative to this and not the entire document. */
    position: relative;
    width: 80%;
    min-width: fit-content;
    max-width: var(--content-max-width);
    margin-top: 25vh;
    margin-bottom: var(--footer-height);
    display: flex;
    flex-direction: column;
}

header,
footer {
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    height: var(--header-height);
}

nav {
    width: 90%;
    max-width: 1800px;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0;
    list-style: none;
}

nav > ul > li {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

nav a {
    font-size: 0.9rem;
    color: white;
}

nav a:hover {
    /* text-decoration: underline; */
    font-weight: bold;
}

nav .logo {
    margin-right: auto;
}

nav .logo a {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
}

input {
    height: var(--search-box-height);
    font-size: 0.85rem;
}

button {
    height: 35px;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

footer {
    position: fixed;
    bottom: 0;
    background: rgba(240, 240, 240, 0.8);
    font-size: 0.8rem;
}

/* Search Page */

#search-mode-selector-container {
    position: relative;
    /* So it's "physically" above the results box and interactable. */
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    height: 45px;
    width: calc(100% - 2px);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 0 15px; */
    padding-left: 5px;
    font-size: 0.8rem;
    background: white;
}

#search-mode-selector-container * {
    /* outline: 1px solid red; */
    display: flex;
    align-items: center;
    height: calc(100% - 10px);
}

#search-mode-container-header {
    display: none;
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75rem;
    background: #eee;
}

#search-mode-selector-container input {
    /* Unset the height set on inputs. TODO: Narrow down that rule to text/password only. */
    height: auto !important;
}

#search-mode-selector-container .radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#keyword-search-radio-button,
#semantic-search-radio-button {
    margin: 0 8px;
}

#semantic-search-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#semantic-similarity-threshold-slider-container {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

#semantic-similarity-threshold-slider {
}

#semantic-similarity-threshold-value {
    position: absolute;
    top: 20px;
    width: 100%;
    justify-content: center;
    font-size: 0.75rem;
    text-align: center;
    /* font-weight: bold; */
}

#search {
    width: 100%;
    height: var(--search-box-height);
    padding: 5px 10px;
    idth: 90%;
    height: var(--search-box-height);
    padding: 5px 10px;
    margin-left: auto;
    margin-right: auto;
}

#results-box {
    position: absolute;
    width: 100%;
    height: fit-content;
    max-height: calc(75vh - var(--header-height) - var(--footer-height) - 40px);
    /* Offset by height of search box + search mode selectors so it's directly
       under the search box. TODO: Make this less hacky.
    */
    /* top: var(--search-box-height); */
    top: calc(-1px + var(--search-box-height));
    /* Offset and bring below search mode selector container. */
    z-index: 0;
    padding-top: 50px;

    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-bottom: calc(2 * var(--footer-height));

    border: 1px solid grey;
    overflow-y: scroll;
}

#results-box a:first-child {
    border-top: 0.1px solid #333;
}

#results-box > a {
    display: block;
    color: black;
}

#results-box .search-result {
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 8px 10px;
    margin: 0;
    font-size: 0.9rem;
}

#results-box .search-result:hover,
#results-box .search-result:focus {
    background-color: #eee;
}

#results-box .search-result {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

#results-box .search-result-header {
    font-weight: bold;
}

#results-box .search-result-text {
    text-align: justify;
}

.search-result-text .highlight {
    display: inline-block;
    padding: 2px 0px;
    background: #0275ff;
    color: #fff;
}

/* Admin Page Styles */

#file-upload-form,
#login-form {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 15px;
    background: #eee;
    padding: 10px 20px 20px 20px;
    border-radius: 15px;
}

#file-upload-form h2,
#files-list-container h2 {
    font-size: 0.9rem;
    text-transform: uppercase;
}

#file-upload-form h2 {
    text-align: left;
}

#file-upload-form button {
    width: 120px;
    margin-top: 15px;
}

#files-list-container {
    margin-top: 20px;
}

#files-list-container h2 {
    text-align: center;
    margin-bottom: 0px;
    padding: 10px 0px 0px 0px;
}

#file-list {
    padding: 0;
    list-style: none;
    font-size: 0.85rem;
    border: 0.5px solid #edecec;
}

#file-list li {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    padding: 8px 10px;
}

#file-list li:nth-of-type(odd) {
    background: rgba(240, 240, 240, 0.8);
}

#file-list a {
    color: #4d74b8;
}

#file-list .delete-button,
#file-list .download-button {
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #333;
}

#file-list .delete-button:hover,
#file-list .delete-button:focus {
    color: #ba7171;
}

#file-list .download-button:hover,
#file-list .download-button:focus {
    color: #4d74b8;
}

#file-list .file-status-indicator {
    margin-left: auto;
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 0.65rem;
    font-weight: bold;
    text-transform: uppercase;
}

#file-list [data-status="Processing"] .file-status-indicator {
    background: #eee;
    color: #333;
}

#file-list [data-status="Ready"] .file-status-indicator {
    background: #88c273;
    color: #fff;
}

#file-list [data-status="Error"] .file-status-indicator {
    background: #f95454;
    color: white;
}

/* Document Detail Page Styles */

main.document-detail-page {
    margin-top: 0;
    padding: 0;
    position: fixed;
    top: 0;
}

#document-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* position: fixed; */
    margin-top: calc(var(--header-height) + 10px);
    width: 100%;
}

#document-info h2 {
    padding: 0;
    margin: 0 auto;
    font-size: 1.1rem;
}

#document-info .document-status-indicator {
    display: none;
}

#page-display {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;

    max-height: calc(
        100vh - var(--footer-height) - var(--header-height) -
            var(--thumbnail-carousel-height) - 50px
    );
    aspect-ratio: 1;
    /* background: #eee; */
    background: #333;
    margin-top: 20px;
    margin-bottom: calc(
        var(--footer-height) + var(--thumbnail-carousel-height) + 10px
    );

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-display img {
    height: calc(100% - 10px);
    object-fit: contain;
    max-width: 100%;
}

#page-metadata-container {
    --width: 400px;
    position: absolute;
    top: 0;
    right: 0;
    /* width: 100%; */
    width: var(--width);
    max-width: 400px;
    height: 100%;
    padding: 40px 20px 20px 20px;
    border: 1px solid black;
    background: #fff;
    transition: transform 250ms ease-in-out;
}

#page-metadata-container.tucked-away {
    transform: translateX(var(--width));
}

#page-metadata-container-toggle {
    --width: 35px;
    position: absolute;
    top: 10px;
    left: calc(-1 * var(--width));
    width: var(--width);
    aspect-ratio: 1;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
    border: 1px solid #999;
    border-right-width: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}

#page-metadata {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    overflow-y: scroll;
}

#page-metadata .page-summary-heading,
#page-metadata .page-text-heading {
    font-size: 0.8rem;
    /* text-align: center; */
    margin-top: 20px;
    color: #333;
    text-transform: uppercase;
}

#page-metadata .page-summary,
#page-metadata .page-text {
    font-size: 0.9rem;
    line-height: 1.25rem;
    text-align: justify;
}

#page-metadata .page-text-heading {
}

#page-metadata .page-text {
}

#page-thumbnail-carousel-container {
    position: fixed;
    bottom: calc(var(--footer-height) + 2px);
    left: 0;
    width: 100%;
    height: var(--thumbnail-carousel-height);
    background-color: #eee;
}

#page-thumbnail-carousel {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 100%;
    width: 100%;
    max-width: 1000px;
    overflow-x: scroll;
    padding: 10px 30px;
}

.page-thumbnail {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    /* aspect-ratio: 1; */
    overflow: hidden;
    outline: 1px solid black;
    border-radius: 0px;
    background: #fff;
}

.page-thumbnail:hover {
}

.page-thumbnail.active-page {
    outline: 2px solid black;
}

.page-thumbnail > img {
    height: 100%;
    /* aspect-ratio: 1; */
    /* A4 aspect ratio. */
    aspect-ratio: 1 / 1.41;
    object-fit: contain;
}

.page-thumbnail > small {
    text-align: center;
}

.page-thumbnail .page-number {
    display: none;
    font-size: 0.85rem;
    font-weight: bold;
}

.page-thumbnail:hover .page-number,
.page-thumbnail.active-page .page-number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.page-thumbnail .page-status-indicator {
    display: none;
}

/* Login Page */

/* login-form base styles are above, paired with file-upload-form.  */

#login-form {
    max-width: 500px;
    width: 100%;
    margin: auto;
}

#login-form h2 {
    text-align: center;
}

#login-form input,
#login-form button {
    margin: 10px auto;
    padding: 5px 10px;
}

#login-form input {
    width: 90%;
}

#login-form button {
    width: 100px;
}

.form-error-message {
    color: #ba7171;
    font-size: 0.9rem;
    text-align: center;
}

/* Styles for Error Pages. */

main.error-page {
    justify-content: center;
}

main.error-page > * {
    text-align: center;
    margin: 10px;
}

main.error-page > h2 {
    text-transform: uppercase;
}
