:root {
    --search-box-height: 40px;
    --content-max-width: 600px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    font-family: sans-serif;
}

main {
    /* So the absolute-positioned results box is positioned
  relative to this and not the entire document. */
    position: relative;
    width: 80%;
    max-width: var(--content-max-width);
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
}

header,
footer {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background: rgba(0, 0, 0, 0.8);
    top: 0;
}

nav {
    width: 90%;
    max-width: 1800px;
}

nav > ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav > ul > li {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

nav a {
    font-size: 0.9rem;
    color: white;
}

nav a:hover {
    /* text-decoration: underline; */
    font-weight: bold;
}

nav .logo {
    margin-right: auto;
}

nav .logo a {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
}

footer {
    position: fixed;
    bottom: 0;
    background: rgba(240, 240, 240, 0.8);
    font-size: 0.8rem;
}

/* Search Page */

#search {
    width: 100%;
    height: var(--search-box-height);
    padding: 5px;
}

#results-box {
    position: absolute;
    /* Offset by height of search box so it's directly under it. */
    top: var(--search-box-height);
    width: 100%;
    border: 1px solid grey;
    padding: 0;
}

.hidden {
    display: none;
}

/* For country names in the results box. */
#results-box > p {
    padding: 10px 5px;
    margin: 0;
}

#results-box > p:hover,
#results-box > p:focus {
    background-color: #eee;
}

/* Admin Page Styles */
#file-upload-form {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 15px;
    background: #eee;
    padding: 10px 20px 20px 20px;
    border-radius: 15px;
}

#file-upload-form h2,
#files-list-container h2 {
    font-size: 0.9rem;
    text-transform: uppercase;
}

#file-upload-form h2 {
    text-align: left;
}

#file-upload-form button {
    width: 120px;
    height: 27px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}

#files-list-container {
    margin-top: 20px;
}

#files-list-container h2 {
    text-align: center;
    margin-bottom: 0px;
    padding: 10px 0px 0px 0px;
}

#file-list {
    padding: 0;
    list-style: none;
    font-size: 0.85rem;
    border: 0.5px solid #edecec;
}

#file-list li {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    padding: 8px 10px;
}

#file-list li:nth-of-type(even) {
    background: rgba(240, 240, 240, 0.8);
}

#file-list a {
    color: #4d74b8;
}

#file-list .file-status-indicator {
    margin-left: auto;
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 0.65rem;
    font-weight: bold;
    text-transform: uppercase;
}

#file-list [data-status="Processing"] .file-status-indicator {
    background: #eee;
    color: #333;
}

#file-list [data-status="Ready"] .file-status-indicator {
    background: #88c273;
    color: #fff;
}

#file-list [data-status="Error"] .file-status-indicator {
    background: #f95454;
    color: white;
}
