<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Wiki{% block title %} - Home{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
        {% block page_css %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li class="logo"><a href="{{ url_for('index') }}">WIKI</a></li>
                    <li><a href="{{ url_for('admin') }}">Admin</a></li>
                </ul>
            </nav>
        </header>

        {% block content %} {% endblock %}

        <footer>
            <p>&copy; 2024. Made with <span style="color: #D91656;">&#x2665;</span> somewhere on Earth.</p>
        </footer>
        {% block page_js %}{% endblock %}
    </body>
</html>
