<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Wiki{% block title %} - Home{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
        {% block page_css %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li class="logo"><a href="{{ url_for('index') }}">WIKI</a></li>
                    {% if "admin" in session %}
                    <li><a href="{{ url_for('admin') }}">Admin</a></li>
                    {% endif %}
                    {% if "username" in session %}
                    <li>
                        <a href="{{ url_for('logout') }}">
                            <span class="material-symbols-outlined">logout</span>
                        </a>
                    </li>
                    {% else %}
                    {% block login_link %}<li><a href="{{ url_for('login') }}">Log In</a></li>{% endblock %}
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% block content %} {% endblock %}

        <footer>
            <p>&copy; 2024. Made with <span style="color: #D91656;">&#x2665;</span> somewhere on Earth.</p>
        </footer>
        {% block page_js %}{% endblock %}
    </body>
</html>
