{% extends 'base.html' %}

{% block title %} - {{ document.name }} {% endblock %}

{% block page_css %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
{% endblock %}

{% block content %}
<main class="document-detail-page">
    <div id="document-info">
        <h2>{{ document.name }}</h2>
        <small class="document-status-indicator"> {{ document.get_status_display() }} </small>
    </div>

    <div id="page-display">
        <div id="page-metadata-container" class="tucked-away">
            <div id="page-metadata-container-toggle">
                <span class="material-symbols-outlined">info</span>
            </div>
            <div id="page-metadata">
                <h3 class="page-summary-heading">Summary</h3>
                <p class="page-summary">--</p>
                <h3 class="page-text-heading">Text</h3>
                <p class="page-text">--</p>
            </div>
        </div>
    </div>

    <div id="page-thumbnail-carousel-container">
        <div id="page-thumbnail-carousel">
            {% for page in document.pages.all() %}
            <div class="page-thumbnail" data-page-id="{{ page.id }}" data-page-number="{{ page.number }}">
                <img src="{{ url_for('serve_page_image', document_id= document.id, number=page.number) }}">
                <small class="page-number">
                {{ page.number }}
                </small>
                <small class="page-status-indicator">
                {{ page.get_status_display() }}
                </small>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}

{% block page_js %}
<script>
  const DOCUMENT_ID = {{ document.id }};
</script>
<script src="{{ url_for('static', filename='js/page-viewer.js') }}"></script>
{% endblock %}
