{% extends 'base.html' %}

{% block title %} - Log In{% endblock %}
{% block login_link %}{% endblock %}
{% block content %}
<main>
    <form id="login-form" method="POST" action="{{ url_for('login') }}">
        <h2>Log In</h2>
        <input type="text" id="username-input" name="username" placeholder="username" required>
        <input type="password" id="password-input" name="password" placeholder="password" required>
        <button type="submit">Log in</button>
        {% if error_message %}
        <div class="form-error-message">{{ error_message }}</div>
        {% endif %}
    </form>
</main>
{% endblock %}
